In [3]:
pip install ucimlrepo

Requirement already satisfied: ucimlrepo in c:\users\sitab\anaconda3\lib\site-packages (0.0.7)
Requirement already satisfied: pandas>=1.0.0 in c:\users\sitab\anaconda3\lib\site-packages (from ucimlrepo) (2.2.2)
Requirement already satisfied: certifi>=2020.12.5 in c:\users\sitab\anaconda3\lib\site-packages (from ucimlrepo) (2025.4.26)
Requirement already satisfied: numpy>=1.26.0 in c:\users\sitab\anaconda3\lib\site-packages (from pandas>=1.0.0->ucimlrepo) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\sitab\anaconda3\lib\site-packages (from pandas>=1.0.0->ucimlrepo) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\sitab\anaconda3\lib\site-packages (from pandas>=1.0.0->ucimlrepo) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\sitab\anaconda3\lib\site-packages (from pandas>=1.0.0->ucimlrepo) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\sitab\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas>=1.0.0->ucimlrepo) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

The value specified in an AutoRun registry key could not be parsed.

In [4]:
from ucimlrepo import fetch_ucirepo 
  
# fetch dataset 
adult = fetch_ucirepo(id=2) 
  
# data (as pandas dataframes) 
X = adult.data.features 
y = adult.data.targets 
  
# metadata 
print(adult.metadata) 
  
# variable information 
print(adult.variables)

{'uci_id': 2, 'name': 'Adult', 'repository_url': 'https://archive.ics.uci.edu/dataset/2/adult', 'data_url': 'https://archive.ics.uci.edu/static/public/2/data.csv', 'abstract': 'Predict whether annual income of an individual exceeds $50K/yr based on census data. Also known as "Census Income" dataset. ', 'area': 'Social Science', 'tasks': ['Classification'], 'characteristics': ['Multivariate'], 'num_instances': 48842, 'num_features': 14, 'feature_types': ['Categorical', 'Integer'], 'demographics': ['Age', 'Income', 'Education Level', 'Other', 'Race', 'Sex'], 'target_col': ['income'], 'index_col': None, 'has_missing_values': 'yes', 'missing_values_symbol': 'NaN', 'year_of_dataset_creation': 1996, 'last_updated': 'Tue Sep 24 2024', 'dataset_doi': '10.24432/C5XW20', 'creators': ['Barry Becker', 'Ronny Kohavi'], 'intro_paper': None, 'additional_info': {'summary': "Extraction was done by Barry Becker from the 1994 Census database.  A set of reasonably clean records was extracted using the following conditions: ((AAGE>16) && (AGI>100) && (AFNLWGT>1)&& (HRSWK>0))\n\nPrediction task is to determine whether a person's income is over $50,000 a year.\n", 'purpose': None, 'funded_by': None, 'instances_represent': None, 'recommended_data_splits': None, 'sensitive_data': None, 'preprocessing_description': None, 'variable_info': 'Listing of attributes:\r\n\r\n>50K, <=50K.\r\n\r\nage: continuous.\r\nworkclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.\r\nfnlwgt: continuous.\r\neducation: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.\r\neducation-num: continuous.\r\nmarital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.\r\noccupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.\r\nrelationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.\r\nrace: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.\r\nsex: Female, Male.\r\ncapital-gain: continuous.\r\ncapital-loss: continuous.\r\nhours-per-week: continuous.\r\nnative-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.', 'citation': None}}
              name     role         type      demographic  \
0              age  Feature      Integer              Age
1        workclass  Feature  Categorical           Income
2           fnlwgt  Feature      Integer             None
3        education  Feature  Categorical  Education Level
4    education-num  Feature      Integer  Education Level
5   marital-status  Feature  Categorical            Other
6       occupation  Feature  Categorical            Other
7     relationship  Feature  Categorical            Other
8             race  Feature  Categorical             Race
9              sex  Feature       Binary              Sex
10    capital-gain  Feature      Integer             None
11    capital-loss  Feature      Integer             None
12  hours-per-week  Feature      Integer             None
13  native-country  Feature  Categorical            Other
14          income   Target       Binary           Income

                                          description units missing_values
0                                                 N/A  None             no
1   Private, Self-emp-not-inc, Self-emp-inc, Feder...  None            yes
2                                                None  None             no
3    Bachelors, Some-college, 11th, HS-grad, Prof-...  None             no
4                                                None  None             no
5   Married-civ-spouse, Divorced, Never-married, S...  None             no
6   Tech-support, Craft-repair, Other-service, Sal...  None            yes
7   Wife, Own-child, Husband, Not-in-family, Other...  None             no
8   White, Asian-Pac-Islander, Amer-Indian-Eskimo,...  None             no
9                                       Female, Male.  None             no
10                                               None  None             no
11                                               None  None             no
12                                               None  None             no
13  United-States, Cambodia, England, Puerto-Rico,...  None            yes
14                                       >50K, <=50K.  None             no

In [5]:
X

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,39,Private,215419,Bachelors,13,Divorced,Prof-specialty,Not-in-family,White,Female,0,0,36,United-States
48838,64,NaN,321403,HS-grad,9,Widowed,NaN,Other-relative,Black,Male,0,0,40,United-States
48839,38,Private,374983,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States
48840,44,Private,83891,Bachelors,13,Divorced,Adm-clerical,Own-child,Asian-Pac-Islander,Male,5455,0,40,United-States
48841,35,Self-emp-inc,182148,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,60,United-States

In [7]:
y

       income
0       <=50K
1       <=50K
2       <=50K
3       <=50K
4       <=50K
...       ...
48837  <=50K.
48838  <=50K.
48839  <=50K.
48840  <=50K.
48841   >50K.

[48842 rows x 1 columns]

In [8]:
# Merge features and target using the index
df = X.join(y)
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,39,Private,215419,Bachelors,13,Divorced,Prof-specialty,Not-in-family,White,Female,0,0,36,United-States,<=50K.
48838,64,NaN,321403,HS-grad,9,Widowed,NaN,Other-relative,Black,Male,0,0,40,United-States,<=50K.
48839,38,Private,374983,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,<=50K.
48840,44,Private,83891,Bachelors,13,Divorced,Adm-clerical,Own-child,Asian-Pac-Islander,Male,5455,0,40,United-States,<=50K.
48841,35,Self-emp-inc,182148,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,60,United-States,>50K.

In [9]:
df.describe()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
count,48842.000000,4.884200e+04,48842.000000,48842.000000,48842.000000,48842.000000
mean,38.643585,1.896641e+05,10.078089,1079.067626,87.502314,40.422382
std,13.710510,1.056040e+05,2.570973,7452.019058,403.004552,12.391444
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.175505e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.781445e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.376420e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.490400e+06,16.000000,99999.000000,4356.000000,99.000000

In [10]:
#How many null values are there?
df.isnull().sum()

age                 0
workclass         963
fnlwgt              0
education           0
education-num       0
marital-status      0
occupation        966
relationship        0
race                0
sex                 0
capital-gain        0
capital-loss        0
hours-per-week      0
native-country    274
income              0
dtype: int64

### work class, occupation, and native country have null  or missing values.

In [18]:
for col in df:
    print(f"Unique values in '{col}':")
    print(df[col].unique())
    print("-" * 40)

Unique values in 'age':
[39 50 38 53 28 37 49 52 31 42 30 23 32 40 34 25 43 54 35 59 56 19 20 45
 22 48 21 24 57 44 41 29 18 47 46 36 79 27 67 33 76 17 55 61 70 64 71 68
 66 51 58 26 60 90 75 65 77 62 63 80 72 74 69 73 81 78 88 82 83 84 85 86
 87 89]
----------------------------------------
Unique values in 'workclass':
['State-gov' 'Self-emp-not-inc' 'Private' 'Federal-gov' 'Local-gov' '?'
 'Self-emp-inc' 'Without-pay' 'Never-worked' nan]
----------------------------------------
Unique values in 'fnlwgt':
[ 77516  83311 215646 ... 173449  89686 350977]
----------------------------------------
Unique values in 'education':
['Bachelors' 'HS-grad' '11th' 'Masters' '9th' 'Some-college' 'Assoc-acdm'
 'Assoc-voc' '7th-8th' 'Doctorate' 'Prof-school' '5th-6th' '10th'
 '1st-4th' 'Preschool' '12th']
----------------------------------------
Unique values in 'education-num':
[13  9  7 14  5 10 12 11  4 16 15  3  6  2  1  8]
----------------------------------------
Unique values in 'marital-status':
['Never-married' 'Married-civ-spouse' 'Divorced' 'Married-spouse-absent'
 'Separated' 'Married-AF-spouse' 'Widowed']
----------------------------------------
Unique values in 'occupation':
['Adm-clerical' 'Exec-managerial' 'Handlers-cleaners' 'Prof-specialty'
 'Other-service' 'Sales' 'Craft-repair' 'Transport-moving'
 'Farming-fishing' 'Machine-op-inspct' 'Tech-support' '?'
 'Protective-serv' 'Armed-Forces' 'Priv-house-serv' nan]
----------------------------------------
Unique values in 'relationship':
['Not-in-family' 'Husband' 'Wife' 'Own-child' 'Unmarried' 'Other-relative']
----------------------------------------
Unique values in 'race':
['White' 'Black' 'Asian-Pac-Islander' 'Amer-Indian-Eskimo' 'Other']
----------------------------------------
Unique values in 'sex':
['Male' 'Female']
----------------------------------------
Unique values in 'capital-gain':
[ 2174     0 14084  5178  5013  2407 14344 15024  7688 34095  4064  4386
  7298  1409  3674  1055  3464  2050  2176   594 20051  6849  4101  1111
  8614  3411  2597 25236  4650  9386  2463  3103 10605  2964  3325  2580
  3471  4865 99999  6514  1471  2329  2105  2885 25124 10520  2202  2961
 27828  6767  2228  1506 13550  2635  5556  4787  3781  3137  3818  3942
   914   401  2829  2977  4934  2062  2354  5455 15020  1424  3273 22040
  4416  3908 10566   991  4931  1086  7430  6497   114  7896  2346  3418
  3432  2907  1151  2414  2290 15831 41310  4508  2538  3456  6418  1848
  3887  5721  9562  1455  2036  1831 11678  2936  2993  7443  6360  1797
  1173  4687  6723  2009  6097  2653  1639 18481  7978  2387  5060  1264
  7262  1731  6612]
----------------------------------------
Unique values in 'capital-loss':
[   0 2042 1408 1902 1573 1887 1719 1762 1564 2179 1816 1980 1977 1876
 1340 2206 1741 1485 2339 2415 1380 1721 2051 2377 1669 2352 1672  653
 2392 1504 2001 1590 1651 1628 1848 1740 2002 1579 2258 1602  419 2547
 2174 2205 1726 2444 1138 2238  625  213 1539  880 1668 1092 1594 3004
 2231 1844  810 2824 2559 2057 1974  974 2149 1825 1735 1258 2129 2603
 2282  323 4356 2246 1617 1648 2489 3770 1755 3683 2267 2080 2457  155
 3900 2201 1944 2467 2163 2754 2472 1411 1429 3175 1510 1870 1911 2465
 1421]
----------------------------------------
Unique values in 'hours-per-week':
[40 13 16 45 50 80 30 35 60 20 52 44 15 25 38 43 55 48 58 32 70  2 22 56
 41 28 36 24 46 42 12 65  1 10 34 75 98 33 54  8  6 64 19 18 72  5  9 47
 37 21 26 14  4 59  7 99 53 39 62 57 78 90 66 11 49 84  3 17 68 27 85 31
 51 77 63 23 87 88 73 89 97 94 29 96 67 82 86 91 81 76 92 61 74 95 79 69]
----------------------------------------
Unique values in 'native-country':
['United-States' 'Cuba' 'Jamaica' 'India' '?' 'Mexico' 'South'
 'Puerto-Rico' 'Honduras' 'England' 'Canada' 'Germany' 'Iran'
 'Philippines' 'Italy' 'Poland' 'Columbia' 'Cambodia' 'Thailand' 'Ecuador'
 'Laos' 'Taiwan' 'Haiti' 'Portugal' 'Dominican-Republic' 'El-Salvador'
 'France' 'Guatemala' 'China' 'Japan' 'Yugoslavia' 'Peru'
 'Outlying-US(Guam-USVI-etc)' 'Scotland' 'Trinadad&Tobago' 'Greece'
 'Nicaragua' 'Vietnam' 'Hong' 'Ireland' 'Hungary' 'Holand-Netherlands' nan]
----------------------------------------
Unique values in 'income':
['<=50K' '>50K' '<=50K.' '>50K.']
----------------------------------------

In [20]:
df['income'] = df['income'].str.replace('.', '', regex=False)

In [22]:
df['income'].unique()

array(['<=50K', '>50K'], dtype=object)

 # Hypothesis Statements

# Hypothesis 1: Education and Income

 Null Hypothesis (H‚ÇÄ): Education level has no significant relationship with income level.

 Alternative Hypothesis (H‚ÇÅ): Individuals with higher education levels are more likely to earn more than $50K.

 Variables used: education-num, income

 Test Used: Chi-Square Test (Categorical vs Categorical)

In [24]:
import pandas as pd
from scipy.stats import chi2_contingency

# Create contingency table: Education vs Income
contingency = pd.crosstab(df['education'], df['income'])

# Perform Chi-square test
chi2, p, dof, expected = chi2_contingency(contingency)

# Print results
print("Chi-square statistic:", chi2)
print("p-value:", p)

# Interpret result
if p < 0.05:
    print("Reject the null hypothesis: Education level affects income.")
else:
    print("Fail to reject the null: No significant relationship between education and income.")

Chi-square statistic: 6537.972961360963
p-value: 0.0
Reject the null hypothesis: Education level affects income.

<p style="font-family: Cambria; font-size: 22px;"><b> Hypothesis 2: Age and Income

> Null Hypothesis (H‚ÇÄ): Age has no significant effect on income level.

> Alternative Hypothesis (H‚ÇÅ): Individuals in higher age groups are more likely to earn more than $50K.

>> Variables used: age, income

> Test Used: Independent T-Test (Numerical vs Binary)

In [26]:
from scipy.stats import ttest_ind

# Separate age values based on income group
age_low_income = df[df['income'] == '<=50K']['age']
age_high_income = df[df['income'] == '>50K']['age']

# Run independent t-test
t_stat, p_value = ttest_ind(age_low_income, age_high_income, equal_var=False)

# Output the result
print(f"T-statistic: {t_stat}")
print(f"P-value: {p_value}")

# Interpretation
if p_value < 0.05:
    print("Reject the null hypothesis: Age is significantly different between income groups.")
else:
    print("Fail to reject the null: No significant age difference between income groups.")

T-statistic: -60.66031699711951
P-value: 0.0
Reject the null hypothesis: Age is significantly different between income groups.

In [37]:
# Define categorical columns to test
categorical_cols = [
    'workclass',
    'education',
    'marital-status',
    'occupation',
    'relationship',
    'race',
    'sex',
    'native-country'
]

# Loop through each categorical column
for col in categorical_cols:
    # Create contingency table
    contingency = pd.crosstab(df[col], df['income'])

    # Perform Chi-square test
    chi2, p, dof, expected = chi2_contingency(contingency)

    # Output
    print(f"\nüìä Column: {col}")
    print(f"Chi2 Statistic: {chi2:.4f}")
    print(f"Degrees of Freedom: {dof}")
    print(f"P-value: {p:.4f}")

    if p < 0.05:
        print("‚úÖ Statistically significant association with income.")
    else:
        print("‚ùå No significant association with income.")

üìä Column: workclass
Chi2 Statistic: 1457.3600
Degrees of Freedom: 8
P-value: 0.0000
‚úÖ Statistically significant association with income.

üìä Column: education
Chi2 Statistic: 6537.9730
Degrees of Freedom: 15
P-value: 0.0000
‚úÖ Statistically significant association with income.

üìä Column: marital-status
Chi2 Statistic: 9816.0150
Degrees of Freedom: 6
P-value: 0.0000
‚úÖ Statistically significant association with income.

üìä Column: occupation
Chi2 Statistic: 5788.3485
Degrees of Freedom: 14
P-value: 0.0000
‚úÖ Statistically significant association with income.

üìä Column: relationship
Chi2 Statistic: 10088.7225
Degrees of Freedom: 5
P-value: 0.0000
‚úÖ Statistically significant association with income.

üìä Column: race
Chi2 Statistic: 487.0263
Degrees of Freedom: 4
P-value: 0.0000
‚úÖ Statistically significant association with income.

üìä Column: sex
Chi2 Statistic: 2248.8477
Degrees of Freedom: 1
P-value: 0.0000
‚úÖ Statistically significant association with income.

üìä Column: native-country
Chi2 Statistic: 451.4137
Degrees of Freedom: 41
P-value: 0.0000
‚úÖ Statistically significant association with income.

In [39]:
import pandas as pd
from scipy.stats import ttest_ind


# Split the data by income group
edu_low_income = df[df['income'] == '<=50K']['education-num']
edu_high_income = df[df['income'] == '>50K']['education-num']

# Calculate the means
mean_low = edu_low_income.mean()
mean_high = edu_high_income.mean()

# Run Welch's t-test
t_stat, p_val = ttest_ind(edu_low_income, edu_high_income, equal_var=False)

# Print mean values
print(f"Mean education-num (<=50K): {mean_low:.2f}")
print(f"Mean education-num (>50K): {mean_high:.2f}\n")

# Print test result
print(f"T-statistic: {t_stat:.4f}")
print(f"P-value: {p_val:.4f}")

# Interpret result
if p_val < 0.05:
    print("‚úÖ Reject the null hypothesis: Education level differs significantly between income groups.")
else:
    print("‚ùå Fail to reject the null hypothesis: No significant difference in education level between income groups.")

Mean education-num (<=50K): 9.60
Mean education-num (>50K): 11.60

T-statistic: -78.8785
P-value: 0.0000
‚úÖ Reject the null hypothesis: Education level differs significantly between income groups.

In [41]:
# List of numeric columns to analyze
numeric_cols = ['age','hours-per-week','education-num','fnlwgt']


# Loop through each column and perform t-test
for col in numeric_cols:
    group_low = df[df['income'] == '<=50K'][col]
    group_high = df[df['income'] == '>50K'][col]
    
    # Calculate means
    mean_low = group_low.mean()
    mean_high = group_high.mean()

    # Perform Welch‚Äôs t-test
    t_stat, p_val = ttest_ind(group_low, group_high, equal_var=False)

    # Output
    print(f"\nüìä Column: {col}")
    print(f"Mean for <=50K: {mean_low:.2f}")
    print(f"Mean for >50K: {mean_high:.2f}")
    print(f"T-statistic: {t_stat:.4f}")
    print(f"P-value: {p_val:.4f}")

    if p_val < 0.05:
        print("‚úÖ Statistically significant difference between income groups.")
    else:
        print("‚ùå No statistically significant difference between income groups.")

üìä Column: age
Mean for <=50K: 36.87
Mean for >50K: 44.28
T-statistic: -60.6603
P-value: 0.0000
‚úÖ Statistically significant difference between income groups.

üìä Column: hours-per-week
Mean for <=50K: 38.84
Mean for >50K: 45.45
T-statistic: -54.6622
P-value: 0.0000
‚úÖ Statistically significant difference between income groups.

üìä Column: education-num
Mean for <=50K: 9.60
Mean for >50K: 11.60
T-statistic: -78.8785
P-value: 0.0000
‚úÖ Statistically significant difference between income groups.

üìä Column: fnlwgt
Mean for <=50K: 190039.57
Mean for >50K: 188470.57
T-statistic: 1.4301
P-value: 0.1527
‚ùå No statistically significant difference between income groups.

# Mann‚ÄìWhitney U tests (Skewed numerical)

In [46]:
from scipy.stats import mannwhitneyu

# List of skewed numeric columns
skewed_cols = ['capital-gain', 'capital-loss']

# Loop through each column and perform Mann‚ÄìWhitney U test
for col in skewed_cols:
    group_low = df[df['income'] == '<=50K'][col].dropna()
    group_high = df[df['income'] == '>50K'][col].dropna()

    # Calculate medians
    median_low = group_low.median()
    median_high = group_high.median()

    # Perform Mann‚ÄìWhitney U test
    u_stat, p_val = mannwhitneyu(group_low, group_high, alternative='two-sided')

    # Output
    print(f"\nüìä Column: {col}")
    print(f"Median for <=50K: {median_low:.2f}")
    print(f"Median for >50K: {median_high:.2f}")
    print(f"U-statistic: {u_stat:.4f}")
    print(f"P-value: {p_val:.4f}")

    if p_val < 0.05:
        print("‚úÖ Statistically significant difference between income groups.")
    else:
        print("‚ùå No statistically significant difference between income groups.")

üìä Column: capital-gain
Median for <=50K: 0.00
Median for >50K: 0.00
U-statistic: 178157870.5000
P-value: 0.0000
‚úÖ Statistically significant difference between income groups.

üìä Column: capital-loss
Median for <=50K: 0.00
Median for >50K: 0.00
U-statistic: 202262066.0000
P-value: 0.0000
‚úÖ Statistically significant difference between income groups.

# Hypothesis Testing
Hypothesis testing is a statistical method used to make decisions or inferences about a population based on sample data. The goal is to test an assumption (hypothesis) about a population parameter and determine whether the evidence supports or refutes the hypothesis.
Steps in Hypothesis Testing:
Formulate Hypotheses:
1. Null Hypothesis (H‚ÇÄ):
 The null hypothesis is the statement or claim being made (which we are trying to disprove).
H‚ÇÄ: income <=50K
2. Alternative Hypothesis (H‚ÇÅ or Ha):
The alternative hypothesis is the hypothesis that we are trying to prove, and which is accepted if we have sufficient evidence to reject the null hypothesis.
H‚ÇÅ: income >50K
Choose a Significance Level (Œ±):
This is the probability threshold below which the null hypothesis will be rejected. Common significance levels are 0.05 (5%) or 0.01 (1%).
If Œ± = 0.05, there's a 5% risk of rejecting the null hypothesis when it is true (Type I error).
Select the Appropriate Test:
Depending on the data and the hypothesis, various statistical tests can be used (e.g., t-test, chi-square test, ANOVA). Each test has assumptions about the data that need to be met.
Compute the Test Statistic and P-value:
The test statistic (e.g., z-score, t-score) quantifies the difference between the sample data and what is expected under the null hypothesis.
The p-value is the probability of obtaining a result as extreme as, or more extreme than, the observed result if the null hypothesis is true.
Make a Decision:
Reject H‚ÇÄ if the p-value is less than the significance level (p-value < Œ±). This suggests the data provides enough evidence to support the alternative hypothesis.
Fail to reject H‚ÇÄ if the p-value is greater than the significance level (p-value ‚â• Œ±). This suggests the data is not strong enough to reject the null hypothesis.

# Type 1 and Type 2 errors

Type I error (Œ±): rejecting a true H‚ÇÄ (false positive)

Type II error (Œ≤): failing to reject a false H‚ÇÄ (false negative)

Power (1 ‚àí Œ≤): ability to detect a true effect

minimize Type II error by selecting the correct statistical test and sufficient sample size.